body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* ------------------------------- */

body {
  margin: 0px;
  padding: 0px;
  background: #f9f9f9;
}

h1 {
  margin: 20px 0px;
  margin-left: -1px;
  padding: 0px 0px 0px 170px;
  line-height: 59px;
  background: url('../images/logo.gif') no-repeat center left;
  font-size: 20px;
  color: #555;
}

h1 span {
  display: none;
}


h3 {
  font-size: 16px;
  line-height: 1.5em;
  margin: 0;  
  font-weight: 100;
}

.wrapper {
  position: relative;
  margin: 0px auto;
  padding: 0px;
  max-width: 1000px;
  width: 90%;  
}


.user_nav {
  position: absolute;
  top: 30px;
  right: 0;
}


.announcements-container {
  border: 6px solid #e8e8e8;
  border-radius: 6px;
  margin-bottom: 3.0em;
}

.announcements {
  border: 1px solid #d0d0d0;
  background: #fff;
}
  
.announcement-list {
  width: 66.66%;
  float: left;
  margin: 0px;
  padding: 0px;
  
  border-right: 1px solid #d0d0d0;
  float: left;
  list-style: none;
}

.announcement-list-item {
  display: block;
  position: relative;
  padding: 1.0em;
  

  border-bottom: 1px solid #e0e0e0;
  background: #fdfdfd;

  text-decoration: none;

}


.announcement-list-item:hover {
  cursor: pointer;
  background-color: #e0e8f0;

}

.selected {
  background-color: #e8f0f8;
  background-image: url('../images/arrow.png');
  background-repeat: no-repeat;
  background-position: center right;
}

.announcement-list-item h3 {
  height: 1.5em;
  width: 90%;
  overflow: hidden;
}

.meta-time {
  color: #aaa;
  position: absolute;
  right: 1.0em;
  bottom: 1.2em;
  display: block;
}

.selected .meta-time {
  display: none;
}

.announcement-details {

  float: right;
  width: 33%;
  margin: 0;
  padding: 0;

}

.announcement-details-item {

  padding: 1.0em 2.0em;

  list-style: none;

}

.text-justify {
  text-align: justify;

}

.title {  
  color: #2B6B99;
}

.meta .location, .meta .time {
  font-weight: 100;
  font-size: 1.0em;
  color: #777;
}

.posted-by {


  margin-top: 2.0em;

}



/* ------ Utility classes ------ */

.clear {
  
  clear: both;
  float: none;
  
}

.hidden {
  display: none;
}







