body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* ------------------------------- */

body {
  
  background: #eee;
  
}

#wrapper {
  
  width: 700px;
  margin: 0px auto;
  
}

#announcements {
  
  margin: 0px;
  padding: 0px;
  
}

#announcements li {

  margin: 30px 0px;
  
  list-style: none;
  
  background: #fff;
  
  -moz-box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);

}

#announcements .title {
  
  background: #5f5f68;
  padding: 1px 25px;
  
  color: #fff;

}

#announcements .content {
  
  position: relative;
  
  padding: 0px 25px 25px 25px;
  
  height: 160px;
  overflow: hidden;
  
}

#announcements .location {
  
  position: absolute;
  top: 0px;
  right: 25px;
  
}

#announcements p {
  
  font-size: 11px;
  text-align: justify;
  
}

#announcements .more {
  
  position: absolute;
  bottom: 0px;
  left: 0px;
  
  height: 20px;
  padding: 30px 0px 15px 25px;
  width: 100%;
  
  background-image: -webkit-gradient(
    linear, left top, left bottom, from(rgba(255, 255, 255, 0.0)),
    to(rgba(255, 255, 255, 1.0)), color-stop(.6,rgba(255, 255, 255, 1.0))
  );

  background-image: -moz-linear-gradient(
    rgba(255, 255, 255, 0.0) 0%, rgba(255, 255, 255, 1.0) 60%
  );

    
}

