body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #333; }

div.field, div.actions {
  margin-bottom: 10px;
}

textarea, input { outline: none; }

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* ------------------------------- */

body {
  margin: 0px;
  padding: 0px;
  background: #f9f9f9;
}

h1 {
  margin: 20px 0px;
  margin-left: -1px;
  padding: 0px 0px 0px 170px;
  line-height: 59px;
  background: url('../images/logo.gif') no-repeat center left;
  font-size: 20px;
  color: #555;
}

h1 span {
  display: none;
}


h3 {
  font-size: 16px;
  line-height: 1.5em;
  margin: 0;  
  font-weight: 100;
}

.wrapper {
  position: relative;
  margin: 0px auto;
  padding: 0px;
  max-width: 1000px;
  width: 90%;  
}


.user_nav {
  position: absolute;
  top: 30px;
  right: 0;
}


.login-form, .signup-form {
  width: 40%;
  margin-top: 3.0em;
  position: relative;
}

.text-field {
  margin-top: 0.3em;
  width: 100%;
}

input {
  color: #333;
  border: 1px solid #ccc;
  padding: 0.4em;
  font-size: 1.3em;
}

input:hover {
  border: 1px solid #bbb;
}

input:focus {
  border: 1px solid #888;
}

.button {
  font-size: 1.1em;
  color: #666;
}

.button:hover {
  font-size: 1.1em;
  color: #444;
  cursor: pointer;
}

.announcements-container, .users-container {
  border: 6px solid #e8e8e8;
  border-radius: 6px;
  margin-bottom: 3.0em;
}

.announcements, .users {
  border: 1px solid #d0d0d0;
  background: #fff;
}
  
.announcement-list-title {
  width: 66.66%;
  float: left;
  border-right: 1px solid #d0d0d0;
}

.list-title {
  border-bottom: 1px solid #e0e0e0;
  background-color: #f0f0f0;
}

.list-title h3 {
  font-size: 1.1em;
  padding: 1.14em 0.91em;
  text-transform: uppercase;
  font-weight: 700;
  color: #666;
}

.announcement-list {
  width: 66.66%;
  float: left;
  border-right: 1px solid #d0d0d0;
}

.announcement-list, .user-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.list-item, .list-item-nolink {
  display: block;
  position: relative;
  padding: 1.0em;
  
  border-bottom: 1px solid #e0e0e0;
  background: #fdfdfd;

  text-decoration: none;
}

.announcement-list-item:hover {
  cursor: pointer;
}

.list-item:hover {
  background-color: #e0e8f0;
}

.list-item-nolink {
  color: #666;
  background: #f8f8f8;
}

.control-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.control {
  border: 1px solid #bbb;
  background-image: -webkit-linear-gradient(bottom, rgb(224,224,224), rgb(250,250,250));
}

.control-list .control {
  float: left;
  border-left: 0px;
}


.control-list .control:first-child {
  border-left: 1px solid #bbb;
  border-radius: 5px 0px 0px 5px;
}

.control-list .control:last-child {
  border-radius: 0px 5px 5px 0px;
}

.control-list .control:hover {
  background: #e8e8e8;
}

.control a {
  display: block;
  padding: 0.5em;
  text-decoration: none;
  color: #666;
}

.control a:hover {
  color: #444;
}

.user-control-list {
  position: absolute;
  right: 1.0em;
  top: 0.7em;
  visibility: hidden;
}

.user-list .list-item:hover .user-control-list {
  visibility: visible;
}

.selected {
  background-color: #e8f0f8;
  background-image: url('../images/arrow.png');
  background-repeat: no-repeat;
  background-position: center right;
}

.announcement-list-item h3 {
  height: 1.5em;
  width: 90%;
  overflow: hidden;
}

.meta-time {
  color: #aaa;
  position: absolute;
  right: 1.0em;
  bottom: 1.2em;
  display: block;
}

.selected .meta-time {
  display: none;
}

.announcement-details {

  float: right;
  width: 33%;
  margin: 0;
  padding: 0;

}

.announcement-details-item {

  padding: 1.0em 2.0em;
  list-style: none;

}

.announcement-details-item p {
  overflow: hidden;
}

.text-justify {
  text-align: justify;

}

.title {  
  color: #2B6B99;
}

.meta .location, .meta .time {
  font-weight: 100;
  font-size: 1.0em;
  color: #777;
}

.posted-by {


  margin-top: 2.0em;

}



/* ------ Utility classes ------ */

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.button-help-link {
  margin-left: 0.8em;
  line-height: 3.0em;
}

.clear {
  
  clear: both;
  float: none;
  
}

.hidden {
  display: none;
}







